body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardImage{
  width:50px;
  height:auto; 

}

.Swap-Button{
  margin-left: 80px;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  border: 1px solid rgb(7, 7, 7);
  background-color: rgb(199, 199, 195);
  
  position:relative;
}


.Title{
  margin-left: 480px;
  font-size: 30px;
  color: royalblue;
  margin-top:0px;

}

.topHand {
  display: flex;
  margin-left: 600px;
  
   /* Optional: Adds space around the rectangles */
}

.top-card {
  width: 70px;
  height: 98px;
  border: 1px solid black;
  background-color: white; 
  border-right: 100px;
  margin: -25px;
  position:relative;
 
}

.side-card {
  width: 98px;
  height: 70px;
  border: 1px solid black;
  background-color: white;
  margin: -30px;
  position:relative;
 
}

.middle-row {
  margin-left:350px;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width:800px;
}

.Player-card{
  width: 100px;
  height: 140px;
  border: 1px solid black;
  background-color: white;
  margin: -45px;
  position:relative;
}


.bottom-player {
  margin-left: 620px;
  margin-top: 100px;
}

.sideHand {
  display: flex;
  
  flex-direction: column;
}

.selected {
  box-shadow: 0 0 0 2px red;
}

.played-cards{
  width: 100px;
  margin-top: 100px;
  
  height: 140px;
  border: 1px solid black;
  background-color: white;
  margin: -30px;
  position:relative;
}

.Clear-Trick{
  margin-left: 100px;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  border: 1px solid black;
  background-color: rgb(253, 253, 253);
  
  position:relative;
}

